In [ ]:
!pip install pandas sqlalchemy mysql-connector-python

import pandas as pd
from sqlalchemy import create_engine, text
import mysql.connector

In [ ]:
customer_journeyDf = pd.read_csv("../data/customer_journey.csv")
customer_reviewsDf = pd.read_csv("../data/customer_reviews.csv")
customersDf = pd.read_csv("../data/customers.csv")
engagement_dataDf = pd.read_csv("../data/engagement_data.csv")
geographyDf = pd.read_csv("../data/geography.csv")
productsDf = pd.read_csv(r"../data/products.csv")

In [ ]:
#Checking for data discrepencies 
print(customer_journeyDf.info())  # Checking data types and missing values
customer_journeyDf.head()  # Checking the structure of the datasets

In [ ]:
# Cleaning data

customer_journeyDf['Duration'] = customer_journeyDf['Duration'].fillna(0)  # Fill missing Duration with 0
customer_journeyDf['Stage'] = customer_journeyDf['Stage'].str.lower()      # Standardize Stage to lowercase
customer_journeyDf['Action'] = customer_journeyDf['Action'].str.lower()    # Standardize Action to lowercase
customer_journeyDf = customer_journeyDf.drop_duplicates()

In [46]:
print(customer_reviewsDf.info()) 
customer_reviewsDf['Rating'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewID    100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   ReviewDate  100 non-null    object
 4   Rating      100 non-null    int64
 5   ReviewText  100 non-null    object
dtypes: int64(4), object(2)
memory usage: 4.8+ KB
None

Rating
4    39
3    29
5    23
2     6
1     3
Name: count, dtype: int64

In [ ]:
customer_reviewsDf['ReviewText'] = customer_reviewsDf['ReviewText'].fillna("No review")  # Fill missing reviews
customer_reviewsDf['ReviewText'] = customer_reviewsDf['ReviewText'].str.strip()          # Trim whitespace
customer_reviewsDf = customer_reviewsDf.drop_duplicates()

In [53]:
'''print(customersDf.info())  
customersDf.head(2)
for column in customersDf.columns:
    print(f"Value counts for {column}:")
    print(customersDf[column].value_counts())
    print()'''

_unique_values_check = customersDf['CustomerID'].is_unique
print(_unique_values_check)

True

In [ ]:
#Clean customers.csv
customersDf['Gender'] = customersDf['Gender'].str.capitalize()              # Standardize Gender
customersDf['Age'] = customersDf['Age'].clip(lower=18, upper=100)           # Cap age between 18 and 100
customersDf = customersDf.drop_duplicates(subset=['CustomerID'])            # Remove duplicate customers

In [ ]:
print(engagement_dataDf.info()) 
engagement_dataDf.tail(10)
engagement_dataDf['ContentType'].value_counts()

In [ ]:
engagement_dataDf['ContentType'] = engagement_dataDf['ContentType'].str.upper()  # Standardize ContentType
engagement_dataDf[['Views', 'Clicks']] = engagement_dataDf['ViewsClicksCombined'].str.split('-', expand=True).astype(int)  # Split ViewsClicksCombined
engagement_dataDf = engagement_dataDf.drop(columns=['ViewsClicksCombined'])      # Drop the combined column
engagement_dataDf = engagement_dataDf.drop_duplicates()                          # Remove duplicates

In [ ]:
print(geographyDf.info()) 
geographyDf.head(2)
geographyDf.sample(6)

In [ ]:
geographyDf = geographyDf.drop_duplicates()  # Remove duplicates

In [ ]:
print(productsDf.info()) 
productsDf.head(2)

In [ ]:
productsDf = productsDf[productsDf['Price'] > 0]  # Remove products with invalid prices
productsDf = productsDf.drop_duplicates()         # Remove duplicates

In [ ]:
##########----End Of Data Cleaning-----#########################

In [ ]:
import pandas as pd

# File paths
file_paths = {
    "customer_journey": "../data/customer_journey.csv",
    "customer_reviews": "../data/customer_reviews.csv",
    "customers": "../data/customers.csv",
    "engagement_data": "../data/engagement_data.csv",
    "geography": "../data/geography.csv",
    "products": "../data/products.csv",
}

# Load data
datasets = {name: pd.read_csv(path) for name, path in file_paths.items()}

# Check missing values in each dataset
for name, df in datasets.items():
    print(f"Missing values in {name}:")
    print(df.isnull().sum(), "\n")

In [ ]:
# Check duplicates in each dataset
for name, df in datasets.items():
    duplicate_count = df.duplicated().sum()
    print(f"Duplicates in {name}: {duplicate_count}")

In [ ]:
# Check data types
for name, df in datasets.items():
    print(f"Data types in {name}:")
    print(df.dtypes, "\n")

In [ ]:
from sqlalchemy import create_engine, text

# Create the engine without specifying the database
engine = create_engine("mysql+mysqlconnector://root:456123@localhost")

# Use the engine to connect to MySQL and create the database
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS ShopEasy"))

# Now connect to the newly created database
engine = create_engine("mysql+mysqlconnector://root:456123@localhost/ShopEasy")

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='456123',
    database='ShopEasy'
)
cursor = conn.cursor()
# Example: Creating a customers table
cursor.execute("""CREATE TABLE IF NOT EXISTS customer_journey(
    JourneyID INT PRIMARY KEY,
    CustomerID INT,
    ProductID INT,
    VisitDate DATE,
    Stage VARCHAR(50),
    Action VARCHAR(50),
    Duration FLOAT
);""")

cursor.execute("""CREATE TABLE IF NOT EXISTS customer_reviews(
    ReviewID INT PRIMARY KEY,
    CustomerID INT,
    ProductID INT,
    ReviewDate DATE,
    Rating INT,
    ReviewText VARCHAR(255)
);""") 

cursor.execute("""CREATE TABLE IF NOT EXISTS customers(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(255),
    Email VARCHAR(255),
    Gender VARCHAR(10),
    Age INT,
    GeographyID INT
);""")

cursor.execute("""CREATE TABLE IF NOT EXISTS engagement_data(
    EngagementID INT PRIMARY KEY,
    ContentID INT,
    ContentType VARCHAR(50),
    Likes INT,
    EngagementDate DATE,
    CampaignID INT,
    ProductID INT,
    Views INT,
    Clicks INT
);""")   

cursor.execute("""CREATE TABLE IF NOT EXISTS geography(
    GeographyID INT PRIMARY KEY,
    Country VARCHAR(50),
    City VARCHAR(50)
);""")   

cursor.execute("""CREATE TABLE IF NOT EXISTS products(
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(255),
    Category VARCHAR(50),
    Price DECIMAL(10, 2)
);""")
 
conn.commit()

In [ ]:
### Data Insertion ###
dfs = {
    "customer_journey": customer_journeyDf,
    "customer_reviews": customer_reviewsDf,
    "customers": customersDf,
    "engagement_data": engagement_dataDf,
    "geography": geographyDf,
    "products": productsDf
}

def insert_data(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists="replace", index=False)

for table_name, df in data_frames.items():
    insert_data(df, table_name, engine)


conn.commit()

print("Database & Tables created, and Data insertion completed successfully!\n")
print("Rows inserted:\n"
      f"- customer_journey: {len(customer_journeyDf)}\n"
      f"- customer_reviews: {len(customer_reviewsDf)}\n"
      f"- customers: {len(customersDf)}\n"
      f"- engagement_data: {len(engagement_dataDf)}\n"
      f"- geography: {len(geographyDf)}\n"
      f"- products: {len(productsDf)}")